body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    direction: ltr;
}



table {
    width: 90%;
    border-collapse: collapse;
    background-color: #6186a5;
    margin-left: 5%;
    margin-right: 5%;
    direction: ltr;
}

table, th, td {
    border: solid #ccc;
    direction: ltr;
}

th, td {
    padding: 1%;
    padding-left: 2%;
    padding-right: 1%;
    text-align: center;
    direction: ltr;
}

th {
    background-color: #5682c1;
    text-align: center;
    direction: ltr;
}

a {
    color: white;
    text-decoration: auto;
}

td:nth-child(1), th:nth-child(1) {
    text-align: center;
    padding-left: 1%;
    padding-right: 0.5%;
    width: 2%;
    direction: ltr;
}

td:nth-child(2), th:nth-child(2) {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 15%;
    direction: ltr;
}

td:nth-child(3), th:nth-child(3) {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 6%;
    direction: ltr;
}

td:nth-child(4), th:nth-child(4) {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 10%;
    direction: ltr;
}

td:nth-child(5), th:nth-child(5) {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 5%;
    direction: ltr;
}

td:nth-child(6), th:nth-child(6) {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 5%;
    direction: ltr;
}

td:nth-child(7), th:nth-child(7) {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 10%;
    direction: ltr;
}

td:nth-child(8), th:nth-child(8) {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 25%;
    direction: ltr;
}

td:nth-child(9), th:nth-child(9) {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 6%;
    direction: ltr;
}
