body {
    background-size: cover;
    background-attachment: scroll;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 60px;
    direction: rtl;
    font-family: "Guttman-Aharoni", Times, serif;
    color: #115586;
}

form {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}